<meta name = "viewport" content = "width = device-width">
<p/>
<%=image_tag("crossfitdelmar.jpeg", :class => "logo")%>
<p/>
<h1><%=@todays_date%></h1>
<p/>
<b><%='Strength/Skill'%></b><br/>
<%=@todays_strength_skill%>
<p/>
<b><%='WOD'%></b>
<%@todays_wod.each do |item|%>
	<br/><%=item%>
<%end%>

<p/>
<h1><%=@tomorrows_date%></h1>
<p/>
<b><%='Strength/Skill'%></b><br/>
<%=@tomorrows_strength_skill%>
<p/>
<b><%='WOD'%></b>
<%@tomorrows_wod.each do |item|%>
	<br/><%=item%>
<%end%>